<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/24f776d6-d8fe-47c7-a70d-7ad512dbc4b9/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.ApiManagement/service/FileHostingAppAPIapi/apis/FileHostingAppAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/24f776d6-d8fe-47c7-a70d-7ad512dbc4b9/resourceGroups/MyResourceGroup/providers/Microsoft.Web/sites/TestWebApp1147546458495166</ResourceId>
    <ResourceGroup>MyResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://testwebapp1147546458495166.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://testwebapp1147546458495166.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>6974f858-4443-4e36-883c-7abb895deff0</ProjectGuid>
    <MSDeployServiceURL>waws-prod-cbr20-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TestWebApp1147546458495166</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TestWebApp1147546458495166</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>